{
  "parser": "babel-eslint",
  "plugins": [
    "html"
  ],
  "extends": [
    "flowtype-errors",
    "vue"
  ],
  "rules": {
    "flowtype-errors/show-errors": 2
  },
  "globals": {
    "Routing": true
  }
}