{% extends 'layout/base.html.twig' %}

{% block head %}
    <script src="{{ asset('bundles/polyfills.js') }}"></script>
    <script src="{{ asset('bundles/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}"></link>
{% endblock %}

{% block body %}
    <div id="app">
        <router-view></router-view>
    </div>
{% endblock %}