# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    icecast_relay_username: relay
    icecast_relay_password: ba44sbdfubawjeba78b4h9h
    icecast_admin_username: admin
    icecast_admin_password: 83h8483nkjn8fan8nn
    icecast_port: 8000
    icecast_admin_email: admin@email.com
    icecast_host: 0.0.0.0
    icecast_location: ch_radio
    icecast_public: localhost:8000

    facebook_key: YouNeedAKey
    facebook_secret: YouNeedASecrete

    twitter_key: YouNeedAKey
    twitter_secret: YouNeedASecrete

    google_key: YouNeedAKey
    google_secret: YouNeedASecrete
