# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # The code of the default language used by the application ('en' = English)
    locale: en

    # The 'secret' value is a random string of characters used by Symfony to
    # to add more entropy to security related operations.
    # see: https://symfony.com/doc/current/reference/configuration/framework.html#secret
    env(SYMFONY_SECRET): 'secret_value_for_symfony_demo_application'

    # Destination for log files; can also be "php://stderr" etc
    env(SYMFONY_LOG): '%kernel.logs_dir%/%kernel.environment%.log'

    # this demo application uses an embedded SQLite database to simplify setup.
    # in a real Symfony application you probably will use a MySQL or PostgreSQL database
    # the path must be relative or else it will not work on Windows
    env(DATABASE_URL): 'sqlite:///%kernel.project_dir%/var/data/blog.sqlite'

    # Uncomment this line to use a MySQL database instead of SQLite (and remove
    # the "doctrine" section from config_dev.yml regarding SQLite):
    #
    # env(DATABASE_URL): 'mysql://root:pass@127.0.0.1:3306/symfony_demo'
    #
    # You can also create the database and load the sample data from the command line:
    #
    # $ cd symfony-demo/
    # $ php bin/console doctrine:database:create
    # $ php bin/console doctrine:schema:create
    # $ php bin/console doctrine:fixtures:load

    # If you don't use a real mail server, you can send emails via your Gmail account.
    # see https://symfony.com/doc/current/cookbook/email/gmail.html
    env(MAILER_URL): 'smtp://localhost:25?encryption=&auth_mode='

    icecast_relay_username: relay
    icecast_relay_password: ba44sbdfubawjeba78b4h9h
    icecast_admin_username: admin
    icecast_admin_password: 83h8483nkjn8fan8nn
    icecast_port: 8000
    icecast_admin_email: admin@email.com
    icecast_host: 0.0.0.0
    icecast_location: ch_radio
    icecast_public: localhost:8000

    facebook_key: YouNeedAKey
    facebook_secret: YouNeedASecrete

    twitter_key: YouNeedAKey
    twitter_secret: YouNeedASecrete

    google_key: YouNeedAKey
    google_secret: YouNeedASecrete
