{% extends 'dashboard/user/user_settings.html.twig' %}


{% block pageHeader %}
    Account
{% endblock %}


{% block profileContent %}

    <div  class="panel panel-default">
        <div class="panel-heading">
            Change Password
        </div>
        <div class="panel-body">
            {{ form_start(change_password) }}
            {{ form_widget(change_password) }}
            {{ form_end(change_password) }}

        </div>

    </div>

{% endblock %}