{% extends 'dashboard/base.html.twig' %}

{% block content %}
<div class="row expanded">
    <div class="large-9 columns">
        <form>
            <textarea></textarea>
        </form>
    </div>
    <div class="large-3 columns">

        <div class="dashboard-card">
            <div class="dashboard-card-header">
                Publish
            </div>
            <div class="dashboard-card-content">

            </div>
        </div>

    </div>
</div>
{% endblock %}