<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>

        {% block body %}{% endblock %}
    </body>
</html>