.feature-container {
	clear:both;
	text-align: center;
	margin: 0 auto;
	width: 948px;
	overflow: auto;
	}

.feature-box {
	margin: 3px;
	border: none;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: left;
	}
	
.feature-box.box310 {
	width: 310px;
	height: 310px;
	}

.feature-box.box626 {
	width: 626px;
	height: 310px;
	}
	
.feature-box.box942 {
	width: 942px;
	height: 310px;
	}
	
.feature-box .feature-hover {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	}
	
.feature-box:hover .feature-hover {
	opacity: 0.99;
	}
	
.feature-box .feature-hover-title {
	background: #FFF;
	color: #79C043;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	padding: 3px 3px 10px 3px;
	}
	
.feature-box .feature-hover-text {
	background: #FFF;
	color: #111;
	text-align: left;
	padding: 3px 3px 10px 3px;
	}

.feature-bordered {
	background: #FFF;
	border: 1px solid #999;
	}
	
.feature-bordered.box310 {
	width: 308px;
	height: 308px;
	}

.feature-bordered.box626 {
	width: 624px;
	height: 308px;
	}
	
.feature-bordered.box942 {
	width: 940px;
	height: 308px;
	}
	