/*

css/ajaxresults.css

*/

.ajaxresults { text-align:left; max-height:400px; overflow:auto; font-size:13px; }
.ajaxresults a { display:block;text-decoration:none;padding:4px 6px;margin:2px 0;background:rgba(255,255,255,.2); }
.ajaxresults a:hover { background:rgba(255,255,255,.6); }
.ajaxresults .title { color:#748A95; padding-bottom:4px; }
.ajaxresults dl { margin:0; }
.ajaxresults dt { color:#848484; font-size:12px; }
.ajaxresults dd { margin-left:10px; }
.ajaxresults td { padding:0 4px; }
.ajaxresults td.icon { padding-top:8px; }
.ajaxdatafrom { text-align:right; padding:6px; margin:0; color:#848484; font-size:10px; }
.ajaxdatafrom a { color:#000;  }
