/*

css/chapmanlife.css

*/

.chapmanlifecontainer { width:1000px; overflow:auto; white-space:nowrap; margin:0px auto; }

.chapmanlife { position:relative; text-align:left; }

.chapmanlife .inner { position:relative; width:400px; }

.chapmanlife p, .chapmanlife h2, .chapmanlife h3 { white-space:normal; }

.chapmanlife .icon { float:left; }

.calendaricon { position:absolute;left:-40px;top:10px; }

.chapmanlife h2 { text-transform:none; }