/*

css/default.css

built for adam borecki's cms environment

*/

body {
	background-position:0 0;
}

#bodybottomshade {
	background:url(/legacy/img/bg/bodybottomshade.png) repeat-x;
	position:fixed;
	bottom:0;
	left:0;
	height:400px;
	width:100%;
	z-index:1;
}

#bodybg {
	background:url(/legacy/img/bg/bodybg.png) repeat-x 0 0;
	position:absolute;
	left:0;
	top:0;
	height:439px;
	width:100%;
	z-index:2;
}

#header {
	text-indent:-600000px;
	background:url(/legacy/img/logo/logo.png) no-repeat center bottom transparent;
	height:175px;
	margin:10px auto;
}

.wrapper {
	width:1000px;
	margin:0 auto;
	position:relative;
}

#content {
	clear:both;
	background:#FFF;
	padding-top:20px;
	position:relative;
	min-height:375px;
	font-size:13px;
}

.graystripe {
	background:url(/legacy/img/bg/graystripe.png);
	height:2px;
	width:100%;
}

.leftcontent {
	text-align:left;
	padding:0 60px 8px;
}
