/*

css/home.css

by adam borecki

*/

#home {
	background:url(/img/background/home.jpg);
	position:relative;
	width:1000px;
	height:360px;
	border-bottom:1px solid #DDD;
	overflow:hidden;
	margin-bottom:20px;
	}

#home .bottomStripe { position:absolute;bottom:0;height:1px;width:100%;background:#FFF; }

#home h2 { text-align:right; position:absolute;top:6px;right:12px;}

.featurelinks { position:absolute; left:0; top:20px; text-align:left;list-style-type:none; margin-left:22px; }
.featurelinks li { height:38px;line-height:36px; }
.featurelinks a {text-decoration:none;outline:0;cursor:pointer;color:#92ABB7;text-shadow:1px 1px 0px #FFF;display:block;}
.featurelinks a:hover {color:#748A95;}
.featurelinks .active, .featurelinks .active:hover { color:#92A81B;cursor:default;text-shadow:1px 1px 10px #FFF; }

#activebg { height:38px;width:300px;position:absolute;left:0px;top:20px;background:url(/img/background/arrow.png) top right;}
#activebghover { height:38px;width:300px;position:absolute;left:0px;top:-100px;background:url(/img/background/arrow.png) top right;}
#quicklinks {position:absolute;top:40px;right:20px;width:auto;}

#features { width:420px;height:340px;position:absolute;left:290px;top:10px;overflow:hidden;}
#features h3 { width:410px;margin-bottom:10px; }
#features .inner { position:relative;width:100%;height:100%; }
.feature { position:absolute;top:0px;left:0px;display:none;width:420px;height:340px; }
.feature br { margin-bottom:16px; }



.widget-facebook-link {
	display:block;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 230px;
	height: 38px;
	background: url(/img/social/facebook_230.png);
	}

.widget-facebook-link:hover {
	background-position: 0px 38px;
	}


