/* by adam borecki */

body {
	background:#FFF url('/img/listenlive/background.png') repeat-x top;
}

#radiomanhead {
	position:absolute;
	left:180px;
	top:20px;
}
#listenlive {
	position:absolute;
	left:12px;
	top:20px;
}
#sportsbroadcast {
	position:absolute;
	left:20px;
	top:12px;
}
#schedule, #sportcontainer {
	border:1px solid #000;
	position:absolute;
	left:238px;
	top:48px;
}
#scheduleclass, #sport {
	width:230px;
	padding:2px 8px 6px 0px;
	text-transform:uppercase;
	text-align:right;
	font-size:18px;
	display:none;
}
.player {
	width:250px;
	height:84px;
	position:absolute;
	left:200px;
	top:75px;
	border:1px solid #000;
	background:url('/img/listenlive/flashplayerbg.png') repeat-x 0px -1px;
}
#moreways {
	position:absolute;
	left:148px;
	top:175px;
	width:200px;
	text-align:right;
	font-size:13px;
}

#currentsong, #currentshow {
	display: none;
	}

#currentsong-container, #currentshow-container {
	overflow: auto;
	padding: 10px;
}

#currentsong-pic, #currentsong-infobox , #currentshow-pic, #currentshow-infobox {
	float: left;
	margin-right: 10px;
	}
	
#currentsong-container label, #currentshow-container label {
	font-size:13px;
	color:#AAA;
	}
	
#currentsong-container p, #currentshow-container p {
	color:#333;
	margin: 2px 0 10px 14px;
	}
	
.headerbar {	
	background:url(/img/background/address.png) repeat-x bottom left #EEE;
	height:25px;
	font-size:13px;
	text-align:left;
	line-height: 25px;
	padding-left: 3px;
	}

.profile {
	position:absolute;
	left:10px;
	top:200px;
	width:500px;
}
#timeslot {
	color:#EEE;
	font-style:italic;
	font-family:Verdana, sans-serif;
	font-size:12px;
	position:absolute;
	left:163px;
	top:30px;
	width:300px;
	text-align:right;
}
#showname, #gamename {
	color:#000;
	font-weight:bold;
	padding-left:10px;
	line-height:33px;
}
#djs, .teamname {
	color:#484848;
	padding-left:20px;
}
#profilepic {
	margin:4px;
}
#webprofile {
}

#streamButton {
	background: url(/img/listenlive/controls.png);
	position:absolute;
	left: 230px;
	top: 77px;
	width: 63px;
	height: 84px;
	cursor: pointer;
}
#streamButton.playing {
	background-position: -63px 0px;
	}
#streamButton.playing:hover {
	background-position: -63px -84px;
	}
#streamButton.paused {
	background-position: -0px 0px;
	}
#streamButton.paused:hover {
	background-position: -0px -84px;
	}

#streamStatus {
	position:absolute;
	left:306px;
	top:106px;
	font-family:Palatino, "Palatino Linotype", serif;
	font-size:18px;
	color:#FFF;
	font-weight:lighter;
	letter-spacing:1px;
	text-shadow:#000 2px 1px 1px;
}
#streamTime {
	width:100px;
	position:absolute;
	text-align:right;
	left:346px;
	top:80px;
	font-family:"Lucida Console";
	color:#111;
	text-align:right;
	font-size:14px;
	text-shadow:#ACACAC 1px 0px 1px;
}

.streamLink {
	background: url(/img/listenlive/links.png);
	height: 30px;
	width: 30px;
	display: block;
	position:absolute;
	cursor:pointer;
	}
.streamLink.itunes {
	background-position: 0px 0px;
	left:370px;
	top:170px;
	}
.streamLink.itunes:hover {
	background-position: 0px -30px;
	}
.streamLink.wpm {
	background-position: -30px 0px;
	left:415px;
	top:170px;
	}
.streamLink.wpm:hover {
	background-position: -30px -30px;
	}

#onair {
	position:absolute;
	left:10px;
	top:220px;
	width:460px;
	text-align:center;
}
.teamname {
	text-align:center;
}
.teamscore {
	text-align:center;
	font-family:Courier New, Courier, serif;
	font-size:28px;
	font-weight:bold;
}
#offair {
	position:absolute;
	left:20px;
	top:260px;
	text-align:center;
	width:460px;
	font-size:18px;
}
.credit {
	text-align:center;
	color:#484848;
	padding:84px 0px 12px;
	font-family:Verdana, sans-serif;
	font-size:11px;
}
#quality {
	position:absolute;
	left:334px;
	top:136px;
	z-index:800;
}
#content {
	margin: 200px 10px 40px 10px;
	width: 486px;
	text-align:left;
}
#evals .inner {
	height:340px;
	padding:0 6px;
	overflow:auto;
}
.eval {border-top:1px solid #CDCDCD;padding:4px 0 10px;}
.eval .date {color:#848484;font-size:11px;float:left;width:40px;padding:0 4px;}
.eval .img {width:71px;float:left;padding:0 4px;text-align:center;}
.eval .text {}
