/*

css/navbar.css

built for adam borecki's cms environment

*/

.navbar {
	height:30px;
	background:url(/img/bg/navbarbg.png) center center #393939;
	width:100%;
	overflow:hidden;
}

.navbar td {
}

.navbar a, .navbar .noHover {
	display:block;
	text-align:center;
	height:30px;
	text-decoration:none;
	color:#CCC;
	line-height:28px;
	font-size:14px;
	outline:0;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);
}

.navbar a:hover {
	color:#FFF;
	background:url(/img/bg/navbarbg_hover.png) center center #FFF;
}

.navbar .highlighted a,.navbar .highlighted a:hover, .navbar a.highlighted,.navbar a.highlighted:hover {
	color:#EEE;
	background:url(/img/bg/navbarbg_highlighted.png) repeat-x center center;	
	cursor:default;
}

.navbarshadow {
	background:url(/img/bg/navbarshadow.gif) repeat-x 0 0;
	height:2px;
	width:100%;
}
