.page-terms {
	text-align: left;
	}
	
.page-terms h3 {
	margin-top: 15px;
	}
	
.page-terms ul,
.page-terms ol {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 40px;
	}