
.recordings { position:relative;width:460px;height:660px;overflow:hidden;text-align:left; }
.recordings .recording { text-align:left; margin:0 auto 10px 0; cursor:default; }

.rec_list h4 { background:url(/img/bg/feedh4bg.png) left center; height:20px; text-align:center; color:#FFF; font-weight:normal; text-shadow:1px 1px 0px rgba(0,0,0,.8); }
.rec_list ul { height:300px;overflow:auto;margin:0; list-style-type:none; padding:0; }
.rec_list li { font-size:12px;text-align:left;width:100%;overflow:hidden; }
.rec_list .arrow { float:left; height:40px; width:0px; background:url(/img/icons/arrowright16.png) no-repeat center center; }
.rec_list a { display:block;padding:6px 0 8px 8px;color:#484848; }
.rec_list .date { padding-left:6px; color:#848484; width:100%; }
.rec_list a:hover { background:#92ABB7;color:#000; text-decoration: none; }
.rec_list .evenRow { background:#F4F4F4; }
.rec_list .oddRow { background:#E6E6E6; }
.rec_list a.highlighted, .rec_list a.highlighted:hover {  }

.rec_dl { margin-left: 16px; cursor:pointer; position:relative;height:32px;width:160px;border:1px solid #CCC;background:#FFF; }
.rec_dl .dl { width:20px; height:20px; background:url(/img/icons/download16.png) no-repeat center center; position:absolute; left:7px;top:5px;border:1px solid #6FC43C;cursor:pointer; }
.rec_dl .disp { font-size:10px; position:absolute; color:#848484; left:36px; top:9px; width:220px; height:20px; overflow:hidden;  }

.rec_player { margin-left: 16px; cursor:pointer; position:relative;height:32px;width:160px;border:1px solid #CCC;background:#FFF; }
.rec_player a.play { width:20px;height:20px;background:url(/img/icons/play16.png) center center no-repeat;position:absolute;left:7px;top:5px;border:1px solid #92ABB7;cursor:pointer; }
.rec_player .disp { font-size:10px; position:absolute; color:#848484; left:36px; top:9px; width:220px; height:20px; overflow:hidden;  }
.rec_player .bar { position:absolute;left:36px;top:16px;height:10px;background:#CCC;width:0px; }
.rec_player .loaded { position:absolute;background:#AAA;width:0px;height:10px; }
.rec_player .playhead { position:absolute;background:#09456B;width:0px;height:10px; }