#schedule .head { font-weight:bold; }
#schedule .cycle.nextweek{ display: none; }
.timeslot {position:relative;}
.timeslot { width:138px;height:62px;position:relative;padding:0px;}
.show { width:126px;height:50px;text-align:left;overflow:hidden;display:block;position:absolute;text-decoration:none;padding:5px;border:1px solid #FFF;}
.show:hover {border:1px solid #AAA;overflow:visible;width:340px;height:auto;white-space:normal;background:url(/img/bg/panelbg.gif);padding:0; text-decoration: none; }
.show .icon {margin:0px; float:left;display:none; }
.show:hover .icon {margin:5px 10px 0 17px;display:block;}
.show .plain { display:block; }
.show:hover .plain { display:none; }
.show .hover { display:none; }
.doubleHeight {height:112px;}
.show:hover .hover { display:block; }
.show .address{display:block;padding:5px 2px 0 0;color:#333;}
.show dl {clear:both;padding:4px 10px 12px;}
.show .genre {display:block;text-align:left;padding:2px;margin:0 50px 0 0;}