/*

css/shadow.css

built for adam borecki's cms environment

*/

.shadow { font-size:1px; overflow:hidden; }

.shadowtopleft { margin:auto 0 0 auto; background:url(/img/shadow/shadowtopleft.png) no-repeat right bottom; height:8px; }

.shadowtop { margin:auto 0 0 0; background:url(/img/shadow/shadowtop.png) repeat-x left bottom; height:8px; }

.shadowtopright { margin:auto auto 0 0; background:url(/img/shadow/shadowtopright.png) no-repeat left bottom; height:8px; }

.shadowleft { margin:0 0 0 auto; background:url(/img/shadow/shadowleft.png) repeat-y right top; width:8px; }

.shadowright { margin:0 auto 0 0; background:url(/img/shadow/shadowright.png) repeat-y left top; width:8px; }

.shadowbottomleft { margin:0 0 auto 0; background:url(/img/shadow/shadowbottomleft.png) repeat-x right top; height:8px; }

.shadowbottom { margin:0 0 auto 0; background:url(/img/shadow/shadowbottom.png) repeat-x left top; height:8px; }

.shadowbottomright { margin:0 0 auto 0; background:url(/img/shadow/shadowbottomright.png) repeat-x left top; height:8px; }