/*

css/sidebar.css

built for adam borecki's cms environment


the sidebar usually goes on the right side, and contains .widget(s)

*/

.sidebar {
	margin:20px 20px 0;
	width:240px;
	text-align:center;
}

.widget {
	background:#001C2B;
	margin:0 auto 20px;
	text-align:center;
	width:200px;
	position:relative;
}

.widgetimg {
	margin:0 auto;
}

.widget p {
	text-align:left;
	color:#DDD;
}

.widget a {
	color:#C3D93A;
}