/*

css/social.css

built for adam borecki's cms environment

*/

.social {
	list-style:none;
}

.social li {
	position:relative;
}

.social a {
	display:block;
	text-align:center;
	height:32px;
	margin:4px auto;
	text-decoration:none;
	font-weight:bold;
}

.social a:hover {
	background:url(/img/misc/itemhover.png);
}

.social img {
	position:absolute;
	left:10px;
	top:0;
}

.social span {
	display:block;
	padding:4px 3px 0 30px;
}