/*

css/tutorial.css

built for adam borecki's cms environment

*/

.tutorial {
	width:600px;
	text-align:left;
	margin:0 auto 30px;
}

.tutorial .step {
}

.tutorial h3 {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-weight:normal;
}

.tutorial h3 span {
	font-size:22px;
	color:#751E06;
}