<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[%html_title%]</title>

<link rel='shortcut icon' href='/img/favicon.ico' />

<link rel="apple-touch-icon" sizes="150x150" href="/img/ios/apple-touch-icon.png" />

[%html_prehead%]
<link rel="stylesheet" href="/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="/css/2013.css?vK" type="text/css" />
<link rel="stylesheet" href="/css/2014.css?v4" type="text/css" />
<link rel="stylesheet" href="/css/base.css?v3" type="text/css" />
<link rel="stylesheet" href="/css/nav.css?v9" type="text/css" />
<link rel="stylesheet" href="/css/navie.css" type="text/css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/listenlive.js"></script>

<!----
<style type="text/css">body { background-image: url('/img/background/fall.png'); }</style>
!---->

<meta property="og:title" content="[%html_title%]" />
<meta property="og:site_name" content="Chapman Radio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="[%og:url%]" />
<meta property="og:description" content="[%metadescription%]" />

<meta name="description" content="[%metadescription%]" />
<meta name="keywords" content="[%metakeywords%]" />
<meta name="author" content="David Tyler, webmaster@chapmanradio.com" />
[%html_head%]

</head>
<body class='[%body_class%]'>
	<div id="fb-root"></div>
	[%body_start%]
	<header>
		<div class='top'>
			<img class='logo' src="[%header_url%]" alt="Chapman Radio Logo" />
			<div class='links'>
				<div class='session'>[%session%]</div>
				<div id='listenlive-countdown'><a class='listenlive listenlivelink countdown' href='/listenlive' target='_blank'>Listen Live</a></div>
			</div>
		</div>
		<div class='nav'>
			<table class='mainnav'>
				<tr>[%navbar%]</tr>
			</table>
			[%usernav%]
		</div>
	</header>
	
	<div class='main'>
		<div class='alert-area'>
		[%body_alert%]
		</div>
		<div class='content'>
		[%html_body%]
		<!-- end content -->
		</div>
	<!-- end main -->
	</div>
	

	<footer>
		<p>ChapmanRadio.com is an independent, internet-only radio station run entirely by students at Chapman University in Orange, CA</p>
		<p>&copy; Copyright 2009-[%year%] <a href='/policies'>Policies</a> <a href='/contact'>Contact</a> <a style="display: none;" href="/ztra/honey/crowssemifluid">Legal</a></p>
		[%footer%]
	</footer>
	
</body>
</html>
