<!DOCTYPE html>
<html><!-- manifest="/iphone/offline.manifest" -->
<head>
<!-- thanks to iWebKit, http://snippetspace.com/ -->
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="index,follow" name="robots" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/iphone/img/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/iphone/img/touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/iphone/img/touch-icon-iphone4.png" />
<link rel="apple-touch-startup-image" href="/iphone/img/apple-touch-startup-image.jpg" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<link href="/css/base.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/iphone/css/style.css?2" rel="stylesheet" media="screen" type="text/css" />
<script src="/iphone/js/iWebKit.js" type="text/javascript"></script>
<script type="text/javascript">eid = function(w) { return document.getElementById(w); }</script>
<title>[%html_title%]</title>
<meta content="[%meta_keywords%]" name="keywords" />
<meta content="[%meta_keywords%]" name="description" />
[%html_head%]</head>

<body [%body_class%]>

<div id="topbar">
	<div id='title'>[%body_title%]</div>
</div>
<div id="content">
	[%html_body%]
</div>
<div id="footer">
	<p>&copy; Copyright 2009-[%year%] All Rights Reserved.</p>
</div>

</body>

</html>
