<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[%html_title%]</title>

<link rel='shortcut icon' href='/img/favicon.ico' />
<link rel="stylesheet" href="/css/style.css" type="text/css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/listenlive.js?9"></script>

[%html_head%]
</head>
<body class="min">
	<div id="fb-root"></div>
	[%html_body%]
</body>
</html>
