<!DOCTYPE html5>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[%html_title%]</title>
<link rel='shortcut icon' href='/legacy/img/favicon.ico' />
<link rel="stylesheet" href="/legacy/css/base.css" type="text/css" />
<script type="text/javascript" src="/legacy/js/jquery.js"></script>
<style type='text/css' media='print'>.noPrint {display:none;}</style>
[%html_head%]
</head>
<body class="report">
	<img src='/legacy/img/decor/misc/radioheadbw.gif' style='float:left;' />
	[%html_body%]
</body>
</html>