<div class="main [%body_class%]">
    <div class='alert-area'>
        [%body_alert%]
    </div>
    <div class='content'>
        [%html_body%]
        <!-- end content -->
    </div>
    <!-- end main -->
</div>

<footer>
    <p>ChapmanRadio.com is an independent, internet-only radio station run entirely by students at Chapman University in Orange, CA</p>
    <p>&copy; Copyright 2009-[%year%] <a href='/policies'>Policies</a> <a href='/contact'>Contact</a> <a style="display: none;" href="/ztra/honey/crowssemifluid">Legal</a></p>
    [%footer%]
</footer>

