{% extends 'layout/base.html.twig' %}


{% set menu = [
    {'route':'dashboard_index',"name" : 'Dashboard','sub-group' : {}},
    {'route':'',"name" : 'Shows','sub-group' : {}},
    {'route':'',"name" : 'Posts','sub-group' : {}},
    {'route':'',"name" : 'Comments','sub-group' : {}},
    {'route':'',"name" : 'Users','sub-group' : {}},
    {'route':'',"name" : 'Settings','sub-group' : {}}


] %}

{% block head %}
    <script src="{{ asset('bundles/vendor.js') }}"></script>
   <script src="{{ asset('bundles/dashboard.js') }}"></script>

{% endblock %}

{% block body %}

            <div class="dashboard off-canvas position-left reveal-for-large" id="dashboard-menu" data-off-canvas>
                    {% block menu %}

                        <ul class="dashboard-group vertical menu">
                            <li class="dashboard-group-item">
                                <a>Dashboard</a>
                            </li>
                            <li class="dashboard-group-item group-hover">
                                <a href="#">Shows</a>
                                <ul class="sub-group vertical menu">
                                    <li class="active"><a href="#">All Shows</a></li>
                                    <li><a href="#">Add New</a></li>
                                    <li><a href="#">Categories</a></li>
                                    <li><a href="#">Tags</a></li>
                                </ul>
                            </li>
                            <li class="dashboard-group-item group-hover">
                                <a href="#">Posts</a>
                                <ul class="sub-group vertical menu">
                                    <li class="active"><a href="#">All Posts</a></li>
                                    <li><a href="#">Add New</a></li>
                                    <li><a href="#">Categories</a></li>
                                    <li><a href="#">Tags</a></li>
                                </ul>
                            </li>
                            <li class="dashboard-group-item group-hover">
                                <a>Comments</a>
                            </li>
                            <li class="dashboard-group-item group-hover">
                                <a>Users</a>
                                <ul class="sub-group vertical menu">
                                    <li class="active"><a href="#">All Users</a></li>
                                    <li><a href="#">Add New</a></li>
                                    <li><a href="#">Your Profile</a></li>
                                </ul>
                            </li>

                            <li class="dashboard-group-item group-hover">
                                <a>Settings</a>
                                <ul class="sub-group vertical menu">
                                </ul>
                            </li>
                        </ul>


                        {#<ul class="vertical menu chapman_radio_main_menu"  data-accordion-menu >#}
                        {#{{ include('templates/vertical_menu.html.twig', {items: menu}) }}#}
                        {#</ul>#}
                    {% endblock %}
                    {{ block('sub-menu') }}
            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="title-bar hide-for-large">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-open="dashboard-menu"></button>
                        <span class="title-bar-title">Dashboard</span>
                    </div>
                </div>
                <div id="dashboard">
                {% block content %}

                {% endblock %}
                </div>
            </div>


{% endblock %}