.dashboard-editor{
  padding:.5rem;
  &>.dashboard-tool-bar{
    overflow: hidden;
    .button{
      margin:0;
    }
  }
  &>.dashboard-editor-head{
    padding: .2rem;
    background: #e6e6e6;
    overflow: hidden;
  }
  .dashboard-editor-content{
    .columns{
      padding-left: 0;
      padding-right: 0;
    }
    &>.row{
      height: 100%;
    }
    position: relative;
    resize: vertical;
    overflow: auto;

    textarea{
      height: auto;
      width: 100%;
      resize: none;
      overflow: hidden;
      border: none;
    }
  }
}