$accent-color: #79C043;
$white: #fff;
$black: #000;
$box-color: rgba(58, 75, 58, .85);
$box-color-hover: rgba(58, 74, 58, 1);
$box-desc-color: #bdbdbd;
$schedule-text-color: #007b0a;

body {
  background-color: #313D31;
}

p {
  margin: 0;
}

// What's New, Latest Tracks, Show of the Week, etc.
h1.cr_header,
h2.cr_header,
h3.cr_header,
h4.cr_header,
h5.cr_header,
h6.cr_header {
  border-left-color: $accent-color;
  border-left-width: 7px;
  border-left-style: solid;
  padding-left: 15px;
  color: $white;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 15px;
}

/*---------------------
     PLAY WINDOW
----------------------*/
.play-window {
  padding-top: 20px;
}

.radiohead-logo {
  height: 132px;
  background: #2E4A34;
  img {
    width: 100%;
    height: 100%;
  }
}

.oa-picture {
  height: 132px;
  background-image: url('../public/img/grimshaw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  text-align: center;
}

.oa-btn:link,
.oa-btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 5px 30px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.oa-btn-full:link,
.oa-btn-full:visited,
input[type=submit] {
  background-color: rgba(121, 192, 67, 0.9);
  border: 1px solid rgba(121, 192, 67, 0.9);
  color: $white;
  width: 80%;
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.oa-btn:hover,
.oa-btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: $accent-color;
}

.oa-btn-full:hover,
.oa-btn-full:active,
input[type=submit] {
  border: 1px solid $accent-color;
}

.oa-desc {
  height: 132px;
  background: $white;
}

.oa-nextshow {
  height: 132px;
  background: #4F4F4F;
}

.oa-timeslot {
  div {
    display: inline-block;
  }
  padding-top: 5px;
}

.oa-startendtime {
  padding-bottom: 15px;
  padding-left: 10px;
}

.oa-showname {
  padding-bottom: 5px;
  font-size: 120%;
}

/*-----------------------------
     COOL LOOKING GRADIENT
-------------------------------*/
.homepage-gradient {
  height: 610px;
  width: 100%;

  /* 5327739397_c4fbfd0271_o */
  background: radial-gradient(1226.15px at 4.09% 52.94%, #79C043 0%, rgba(67, 90, 72, 0.8) 26.16%, rgba(43, 108, 159, 0.9) 70.88%, #AD78C8 100%);

}

/*--------------------------
    Boxes (What's New)
----------------------------*/
.wn-widebox,
.wn-smallbox {
  img {
    width: 100%;
  }
}

.wn-widebox:link,
.wn-widebox:visited,
.wn-smallbox:link,
.wn-smallbox:visited {
  text-decoration: none;
}

.wn-widebox-text,
.wn-widebox-text:link,
.wn-widebox-text:visited {
  height: 100px;
  background-color: $box-color;
  transition: background-color 0.2s;
}

.wn-widebox-text-hover {
  height: 100px;
  background-color: $box-color-hover;
}

.wn-smallbox-text,
.wn-smallbox-text:link,
.wn-smallbox-text:visited {
  height: 270.45px;
  background-color: $box-color;
  transition: background-color 0.2s;
}

.wn-smallbox-text-hover {
  height: 270.45px;
  background-color: $box-color-hover;
}

.wn-box-title {
  padding: 10px 20px 5px 20px;
  font-weight: bold;
  color: $white;
}

.wn-box-desc {
  padding: 5px 20px 5px 20px;
  color: $box-desc-color;
}

.wn-wb-title,
.wn-wb-desc {
  font-size: 16px;
}

.wn-sb-title,
.wn-sb-desc {
  font-size: 14px;
}

.wn-widebox:after,
.wn-smallbox:after,
.lt-trackbox:after,
.showoftheweek:after {
  display: block;
  height: 2px;
  background-color: $accent-color;
  content: " ";
  width: 90%;
  margin: 0 auto;
}

/*------------------
    TRACK BOX
 ------------------*/
.lt-trackbox {
  img {
    width: 100%;
  }
}

.lt-text {
  height: 134px;
  background-color: $box-color;
}

.lt-title {
  padding: 20px 15px 0 15px;
  height: 25%;
  font-weight: bold;
  color: $white;
  margin-bottom: 5px;
}

.lt-artist {
  padding: 0 15px 0 15px;
  font-size: 90%;
  height: 40%;
  color: $box-desc-color;
}

.lt-minsago {
  padding: 0 15px 0 15px;
  height: 35%;
  font-size: 80%;
  color: $white;
}

/*-------------------------
    SHOW OF THE WEEK BOX
---------------------------*/
.showoftheweek {
  img {
    width: 100%;
  }
}

.marginfix {
  margin: 0;
}

.sotw-text {
  background-color: $box-color;
}

.sotw-showname {
  font-size: 200%;
  font-weight: bold;
  color: $white;
  padding: 20px 20px 0 20px;
}

.sotw-djnames {
  margin: 20px 20px;
  color: $white;
  font-size: 150%;
}

.sotw-desc {
  margin: 20px;
  line-height: 150%;
  font-size: 110%;
  color: $box-desc-color;
  height: 50%;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  color: $white;
  margin: 0 auto;
  width: 80%;
  display: block;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid $accent-color;
  color: $accent-color;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #5e9434;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
  border: 1px solid #5e9434;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #5e9434;
  color: #fff;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

// No padding trick for bootstrap columns
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*------------------
     SCHEDULE
-------------------*/
.schedule-bkgrnd {
  height: 1024px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/schedule-back.jpeg);
}

.bold-date {
  background-color: rgba(67, 90, 72, 0.8);
  font-size: 150%;
  font-weight: bold;
  color: $white;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 10px;
}

.schedule-shows {
  background-color: $white;
}

.schedule-bar {
  display: table;
  background-color: rgba(67, 90, 72, 0.9);
}

.schedule-tab,
.schedule-tab-today {
  display: table-cell;
  text-align: center;
  color: $white;
  width: 6.666666%;
  font-weight: bold;
  padding: 5px;
}

.schedule-tab-today {
  background-color: $white;
  color: #333333;
}

.schedule-showname {
  font-weight: bold;
  font-size: 120%;
  color: $schedule-text-color;
  padding: 20px 5px 5px 5px;
  margin-bottom: 0;
}

.schedule-showdesc {
  color: $schedule-text-color;
  padding: 5px;
}

.schedule-epdesc {
  color: #4f4f4f;
  padding: 0 5px 50px 5px;
}

// 00:00, 01:00, etc.
.schedule-time {
  color: $black;
  width: 100%;
  font-size: 120%;
  padding: 5px 0 0 20px;
}

// EARLY, MORNING, AFTERNOON, EVENING, LATE
.schedule-time-heading {
  font-size: 120%;
  font-weight: bold;
  padding: 20px 0 0 20px;
}

.schedule-nextday {
  background-color: rgba(0, 123, 10, 0.24);
  color: $schedule-text-color;
  text-align: right;
  font-weight: bold;
}

.nextday {
  padding: 20px;
  margin: 0;
}