.schedule-bkgrnd {
  height: 1024px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(img/schedule-back.jpeg);
}

.bold-date {
  background-color: rgba(67, 90, 72, 0.8);
  font-size: 150%;
  font-weight: bold;
  color: $white;
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 10px;
}

.schedule-shows {
  background-color: $white;
}

.schedule-bar {
  display: table;
  background-color: rgba(67, 90, 72, 0.9);
}

.schedule-tab,
.schedule-tab-today {
  display: table-cell;
  text-align: center;
  color: $white;
  width: 6.666666%;
  font-weight: bold;
  padding: 5px;
}

.schedule-tab-today {
  background-color: $white;
  color: #333333;
}

.schedule-showname {
  font-weight: bold;
  font-size: 120%;
  color: $schedule-text-color;
  padding: 20px 5px 5px 5px;
  margin-bottom: 0;
}

.schedule-showdesc {
  color: $schedule-text-color;
  padding: 5px;
}

.schedule-epdesc {
  color: #4f4f4f;
  padding: 0 5px 50px 5px;
}

// 00:00, 01:00, etc.
.schedule-time {
  color: $black;
  width: 100%;
  font-size: 120%;
  padding: 20px 0 0 20px;
}

// EARLY, MORNING, AFTERNOON, EVENING, LATE
.schedule-time-heading {
  font-size: 120%;
  font-weight: bold;
  padding: 20px 0 0 20px;
}

.schedule-nextday {
  background-color: #C2DFC4;
  text-align: right;
  font-weight: bold;
}

.nextday {
  color: $schedule-text-color;
  padding: 20px;
  margin: 0;
}