h1.cr_header, h2.cr_header, h3.cr_header, h4.cr_header, h5.cr_header,h6.cr_header{
  margin-left: 10px;
  border-left-color: #79C043;
  border-left-width: 7px;
  border-left-style: solid;
  padding-left: 10px;
}