body {
  background-color: #313D31;
}

h1.cr_header, h2.cr_header, h3.cr_header, h4.cr_header, h5.cr_header,h6.cr_header{
  margin-left: 10px;
  border-left-color: #79C043;
  border-left-width: 7px;
  border-left-style: solid;
  padding-left: 10px;
  color: #ffffff;
  font-weight: normal;
}

.play-window {
  padding-top: 20px;
}

.onair-left {
  height: 132px;
  background: #2E4A34;
}

.onair-listenlive {
  height: 132px;
  background: #E1D8CD;
}

.onair-description {
  height: 132px;
  background: #FFFFFF;
}

.onair-right {
  height: 132px;
  background: #4F4F4F;
}

.onair {
  display: inline-block;
  padding-bottom: 15px;
}

.--onair-times {
  padding-left: 10px;
}

.showname {
  padding-bottom: 5px;
  font-size: 120%;
}

.djnames {

}

.showdesc {

}

.homepage-gradient {
  height: 610px;
  width: 100%;
  background: url(img/gradient1.svg);
}

.wn-widebox img {
  width: 100%;
}

.wn-smallbox img {
  width: 100%;
}

.wn-widebox-text {
  height: 100px;
  background-color: rgba(58, 75, 58, .9);

}

.wn-smallbox-text {
  height: 270.45px;
  background-color: rgba(58, 75, 58, .9);
}

.wn-wb-title,
.wn-sb-title {
  padding: 10px 5px 5px 10px;
  font-weight: bold;
  color: #ffffff;
}

.wn-wb-desc,
.wn-sb-desc {
  padding: 10px 5px 0 10px;
  color: #BDBDBD;
}

.wn-widebox:after,
.wn-smallbox:after {
  display: block;
  height: 2px;
  background-color: #79C043;
  content: " ";
  width: 90%;
  margin: 0 auto;
}
