{% extends 'dashboard/base.html.twig' %}

{% block pageHeader %}
    Profile
{% endblock %}

{% block content %}
    <div class="col-lg-12">

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            </tbody>
        </table>
    </div>

{% endblock %}