{% extends 'dashboard/base.html.twig' %}

{% block pageHeader %}
    User Settings
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">
                            Personal Settings
                        </a>
                        <a href="{{ path('dashboard_user_settings_profile') }}" class="list-group-item {% if app.request.attributes.get('_route') == 'dashboard_user_settings_profile' %}active{% endif %}">Profile</a>
                        <a href="{{ path('dashboard_user_settings_account') }}" class="list-group-item {% if app.request.attributes.get('_route') == 'dashboard_user_settings_account' %}active{% endif %}">Account</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    {{ include('components/flash-message.html.twig') }}

                    {% block profileContent %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}